{% extends "index.html" %}
{% load static %}

{% block titlebar %}Business &amp; Company Purchases{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Business And Company Purchases</h3>
  </div>
  <div class="panel-body">
    The common law rule of caveat emptor, or ‘buyer beware’, still applies almost
    entirely to the acquisition of private companies and business assets.<br>
    In every case a sensible buyer will employ solicitors who are specialists in
    commercial law, who will oversee their acquisition from the initial ‘due diligence’;<br>
    to the drafting of an agreement containing warranties and indemnities sufficient to
    ensure they get what they think they are buying and restricting the seller<br> from
    setting up in competition; through to the final handing over of keys.

    <br><br>Although it is the buyer’s advisers who draft most of the sale documentation, a
    seller of a business or company puts the sale proceeds at risk <br>if he signs
    the agreement without using a good commercial solicitor. All too often he will
    find that he has signed up to guarantees as to the existing <br>and future state of
    the business that he simply cannot meet, with a consequent substantial reduction
    in the price he achieves for the business.

    <br><br>Moreover, a business seller requires good advice as to the best acquisition
    structure from a tax and legal perspective, the consents he will require to
    sell his business, <br>the effect on employees (to avoid substantial claims for
    unfair and wrongful dismissal), and limitation of liability.

    <br><br>Working for City law firms, we have advised on business and company acquisitions
    ranging from £1,000 to £28 billion (NatWest takeover). <br>Having advised ‘blue chip’
    clients on their mergers and acquisitions for many years, we are extremely adept at
    winning the usual negotiations that take place<br> upon the purchase or sale of any business.

    <br><br>Unlike the larger firms, though, we charge competitive rates for any size
    acquisition or disposal; and we aim to meet the expectations and commercial
    needs <br>of every client for whom we act, whether they be major plc’s divesting
    of a major subsidiary, or a new business buying a local restaurant.

    <br><br>On a day to day basis we advise clients in relation to buying and selling
    businesses and companies, including management buy-outs and buy-ins.
  </div>
</div>

{% endblock %}
