{% extends "index.html" %}
{% load static %}

{% block titlebar %}Business and Company Formation{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Business and Company Formation</h3>
  </div>
  <div class="panel-body">
    When you start trading, almost the last thing you need is to buy a new
    company ‘off the shelf’, without it being tailored to your individual needs
    and without receiving any guidance or explanation.<br>
    We have long experience in guiding new businesses through the incorporation
     stages, and ensuring that all legal requirements are satisfied.<br><br>

    Our company formation services cover all kinds of UK companies, and are
    always competitively priced when compared with the more reputable company
    formation agencies - <br>which of course give none of the practical and technical
    legal advice that is included in our packages.<br><br>

    The starting point in all cases is for us to discuss with you your individual
    requirements, with a view to deciding which trading structure is appropriate.<br><br>

    There are three principal types of trading structure in the UK: sole traders,
    partnerships and companies.<br><br>

    Although often seen as such, a franchise is not a trading structure. The
    franchisee can adopt any of the three trading formats, but is restricted by
    the terms of the contract with their franchisor.<br><br>

    Please click on the appropriate link for further explanation.
  </div>
</div>

{% endblock %}
