{% extends "index.html" %}
{% load static %}

{% block titlebar %}Commercial Contracts{% endblock %}


{% block content %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Commercial Contracts</h3>
  </div>
  <div class="panel-body">
    Every business deal you do is, of course, governed by commercial and
    contract law, and it is easy to look back with <br> hindsight and wish that the
     agreement had been better and more fully documented from the start.<br><br>

     We are experts in drafting and advising upon all forms of commercial
     contracts, including:
    <ul>
      <li>agreements for the sale and purchase of goods and supply of services;
      <li>supply and manufacturing contracts;
      <li>computer and IT contracts;
      <li>advertising and marketing agreements;
      <li>outsourcing arrangements;
      <li>franchising agreements;
      <li>agency and distributorship agreements;
      <li>intellectual property and sponsorship arrangements.
    </ul>
    <br>
      On a day to day basis, we advise on the legal aspects of :
    <ul>
      <li>contractual liability and breach of contract;
      <li>misrepresentation;
      <li>sales promotion and trade descriptions;
      <li>trading standards and unfair contract terms;
      <li>consumer law, consumer guarantees, consumer credit and hire;
      <li>product liability and safety.
    </ul>
    <br>

      We also provide training services to our clients' employees in those
      aspects of company and commercial law that are essential knowledge for
      those conducting business activities in the UK.<br>

      In addition to the ‘typical’ types of commercial contract set out above,
      we are qualified in advising upon all manner of bespoke commercial
      contracts, <br>in areas as diverse as environmental protection and tobacco
      litigation settlements.<br><br>

      Whatever the commercial situation, we will work with you to consider all
      the business issues involved in drafting either bespoke or standard
      form contracts.<br><br>

      In all cases our advice is not only of the highest quality technically
      but, equally importantly, it is commercial and practical. We solve
      problems and seek to add value by addressing the commercial priorities.

  </div>
</div>

{% endblock %}
