{% extends "index.html" %}
{% load static %}

{% block titlebar %}Company Secretarial Services{% endblock %}

{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Company Secretarial Services</h3>
    </div>
    <div class="panel-body">
      We provide the full range of company secretarial services, from acting as
      the registered office address of client companies to preparing all manner<br>
      of board and shareholder minutes and documentation, and Companies House filings.

      <br><br>The work we do can be split into two general categories: normal annual
      compliance, and extraordinary items.

      <br><br>The two most typical requirements for your company will be to prepare and
      file accounts and file annual returns. We can assist you with the latter,<br>
      and indeed a key part of our company secretarial services is making changes
      to filed information on your behalf and as you require.
    </div>
  </div>
{% endblock %}
