{% extends "index.html" %}
{% load static %}

{% block titlebar %}Corporate{% endblock %}


{% block content %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Corporate and Commercial Specialists</h3>
  </div>

  
  <div class="panel-body">
    As we said on our home page, we specialise in all aspects of corporate
    and commercial law. <br><br> Our clients have ranged from sole traders to some
    of the largest companies in the world. <br> Consequently we are skilled in
    tailoring our advice to fit the needs of individual clients and transactions.

  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Our services include:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="{% url 'halborg:commercial_contracts' %}"><u>Commercial Contracts</u></a></li>
      <li><a href="{% url 'halborg:business_and_company_formation' %}"><u>Business &amp; Company Formation</u></a></li>
      <li><a href="{% url 'halborg:business_and_company_purchases_and_sales' %}"><u>Business &amp; Company Purchases &amp; Sales</u></a></li>
      <li><a href="{% url 'halborg:partnerships_and_joint_ventures' %}"><u>Partnerships &amp; Joint Ventures</u></a></li>
      <li><a href="{% url 'halborg:terms_and_conditions_of_business' %}"><u>Terms &amp; Conditions of Business</u></a></li>
      <li><a href="{% url 'halborg:employment_contracts' %}"><u>Employment Contracts</u></a></li>
      <li><a href="{% url 'halborg:company_secretarial_services' %}"><u>Company Secretarial Services</u></a></li>
    </ul><br>
    <img src="{% static 'images/court-small.jpeg' %}" alt="Court House" />
  </div>
</div>


{% endblock %}
