{% extends "index.html" %}
{% load static %}

{% block titlebar %}Employment{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Employment Law Services for Employers</h3>
  </div>
  <div class="panel-body">


    In recent years employers have faced a bewildering wealth
    of new employment rules and practices.<br><br>
    Never has it been so difficult for employers to keep abreast of all the
    changes to minimum terms and conditions, and yet so easy for employees to
    initiate Tribunal claims for any minor breach of their wide-ranging rights.<br><br>

    We have expertise in guiding employers through the maze of employment
    legislation to achieve sensible employment policies and procedures that will
     stand up in the Tribunal.<br><br>

    We specialise in preparing service agreements for all types and levels of
    employee, and can tailor standard form agreements for you to use in your
    business for rates we are told are extremely reasonable. Where the exit of
    particular employees from the business could result in their competing with
    the businesses, or seeking to solicit other employees away from the business,
    we will be pleased to draft restrictive covenants that are as binding and
    comprehensive as legally possible.<br><br>

    Naturally, we can also prepare staff handbooks and general procedures and
    policies for you. These will include your disciplinary and grievance procedures.<br><br>

    <img class="info_images" src="{% static 'images/books.jpg' %}" alt="Books in cabinet" /><br>

    <br>We specialise in resolving conflicts with employees where things have gone wrong,
    before or after a Tribunal claim is initiated. Where a negotiated agreement is
    possible, we will ensure that the employer's rights are fully protected in
    a Compromise Agreement crafted to your needs. When the employee signs this,
    in exchange for their settlement, they will give up any rights they have to
    claim for matters such as unfair dismissal, redundancy, disability discrimination
    or sex and race discrimination.<br><br>

    Where relations with the employee have deteriorated further, we specialise
    in defending Employment Tribunal claims. Drawing upon our considerable
    experience of acting for employees bringing claims, we can often ensure that
    the employee's claim is simply withdrawn without any liability to the employer.<br><br>

    Finally, we advise on TUPE transfers; and varying employees' terms and
    conditions and service contracts.<br><br>

    For further information on employment law for employers and for details of
    our fixed price packages for employers please click here.

  </div>
</div>

{% endblock %}
