{% extends "index.html" %}
{% load static %}

{% block titlebar %}Home{% endblock %}


{% block content %}
  <h3>Welcome to the Halborg &amp; Co. website</h3><hr/>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">About Us</h3>
    </div>
    <div class="panel-body">
Halborg &amp; Co. are experienced and friendly commercial lawyers with the benefit
of many years of experience in the top UK law firms.<br>
We pride ourselves in providing the excellent service that our clients deserve,
in the timescales our clients dictate, and for a competitive fee. <br><br>
Our aim at all times is to provide City quality work at local rates.

This website is intended to give you an introduction to the services we offer.<br>
We hope you find it useful.<br><br>

<img class="info_images" src="{% static 'images/handshake.jpg' %}" alt="People shaking hands" />

</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Our business</h3>
  </div>
  <div class="panel-body">
We specialise in corporate and commercial law, employment law, inheritance and
 personal injury claims and professional negligence claims.<br><br>

Our corporate and commercial services include:
<ul>
  <li>Commercial Contracts
  <li>Business and Company Formation
  <li>Business and Company Purchases and Sales
  <li>Company Law
  <li>Partnerships and Joint Ventures
  <li>Terms and Conditions of Business
  <li>Employment Contracts
  <li>Compromise Agreements
  <li>Company Secretarial Services
</ul>
We also provide employment law services to both employers and employees.
We have expertise in guiding employers through the growing maze<br> of employment legislation
to achieve sensible employment policies and procedures that will stand up in the Tribunal.<br>
We also resolve conflicts with employees where things have gone wrong, before
or after a Tribunal claim is initiated.<br>

From the employee's perspective, we offer a 'no win, no fee' service where the case has sufficient merits.
We have a proven track record of success,<br> both at the Tribunal and in 'out of Court' settlements.
In fact, our success in suing the largest employers in the UK is one of the reasons<br>
why employers ask us to act for them instead.<br><br>
</div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Our Service Commitment</h3>
  </div>
  <div class="panel-body">
We are dedicated to achieving the very best service for all of our clients.
Please click here for full details of the service we aim to achieve.<br><br>
Halborg &amp; Co and Halborg &amp; Co. (Solicitors) are trading names of Deals &amp;
Disputes (Solicitors) LLP, which is a limited liability partnership registered<br> in
England and Wales (registered number OC369119) whose registered office address is at:<br><br>
Harborough Innovation Centre<br>
Airfield Business Park,<br>
Leicester Road,<br>
Market Harborough,<br>
Leicestershire,<br>
LE16 7WB<br><br>

Our Solicitors are qualified in the laws of England and Wales and this firm is
authorised and regulated by The Solicitors Regulation Authority<br> (number 570707),
and the Solicitors' Code of Conduct is accessible online at <u><a href="http://www.sra.org.uk/code-of-conduct.page">http://www.sra.org.uk/code-of-conduct.page</a></u>.<br>

The word 'partner' used in relation to Halborg &amp; Co. (Solicitors) refers to a member of Deals &amp; Disputes Solicitors LLP.

<br>Please contact us to discuss your requirements.
    </div>
  </div>


{% endblock %}
