{% load static %}
{% load bootstrap %}

<!-- halborg/templates/index.html -->
<!DOCTYPE html>

<html lang="en">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CSS CDN -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/halborg_styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  <!--<script src="https://use.fontawesome.com/d314f41c9a.js"></script>-->
  <!-- jQuery CDN -->
  <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <!-- Bootstrap Js CDN -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!--only created halborg.js file for testing purposes. Feel free to use how you want-->
  <script type="text/javascript" src="{% static 'js/halborg.js' %}"></script>


  <title>{% block titlebar %}{% endblock %}</title>

</head>

<body>


  <div class="wrapper">


    {% include 'sidebar_nav.html' %}

      <div id="content">
          <div class="col-md-10">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            Toggle Sidebar
          </button>
          <h1 class="text-center" id="page_header">Halborg &amp; Co.</h1><hr/>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-10">
          {% block content %}{% endblock %}
          </div>
          <div class="col-md-2"></div>
      </div>

  </div>

  <footer class="footer">
    <div id="footer-welcome-halborg">
      <span id="company-name">
        <p class="text-info">Halborg &amp; Co. (Solicitors) LLP {% now "Y" %}</p>
      </span>
      <span id="dedication">
        <p class="text-info">Designed and built by Sophie Wendell</p>
      </span>
    </div>
    <div class="text-center" id="footer-welcome-links">
      <a class="text-muted" href="{% url 'halborg:home' %}">About Us</a>
      <a class="text-muted" href="{% url 'halborg:personnel' %}">Staff</a>
      <a class="text-muted" href="{% url 'halborg:contact_us' %}">Contact Us</a>
    </div>
  </footer>



  <script type="text/javascript">
  $(function() {
    $("#sidebarCollapse").on("click", function(e) {
      $("#sidebar").toggleClass("active");
    });
  });
</script>
</body>

</html>
