{% extends "index.html" %}
{% load static %}

{% block titlebar %}Inheritance Claims{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Inheritance Claims</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Have you been cut out of a will or left less money than was expected?
      <li>Did the deceased die in the last year?
      <li>Did you depend on the deceased giving you money or looking after your financial needs?
      <li>Or were you married, cohabiting with, or in a civil partnership with the deceased?
      <li>Or were you a child or other dependant of the deceased?
      <li>Has the will left you without enough money to get by?
    </ul>
    If so, you could have a claim for compensation, possibly worth many thousands of pounds.<br><br>

    <strong>Claims generally need to be brought within 6 months of the grant of representation
    (a formal stage after the death of the deceased), <br>so you must not delay -
    for inheritance claims fast please contact us urgently today on 01858414295.<br></strong>

    <br><img class="info_images" src="{% static 'images/signature.jpg' %}" alt="Papers being signed" />

  </div>
</div>


{% endblock %}
