{% extends "index.html" %}
{% load static %}

{% block titlebar %}Negligence Claims{% endblock %}


{% block content %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Negligence Claims</h3>
    </div>
    <div class="panel-body">
      For more information about claims against the following professionals
      please click below:
      <ul><br>
        <li><a href="http://www.claimsagainstarchitects.com/"><u>Claims Against Architects</u></a></li>
        <li><a href=""><u>Claims Against Your Solicitor</u></a></li>
      </ul><br>
      <img class="info_images" src="{% static 'images/court-library.jpg' %}" alt="library of law" />
    </div>
  </div>

{% endblock %}
