{% extends "index.html" %}
{% load static %}

{% block titlebar %}Partnerships &amp; Joint Ventures{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Partnerships and Joint Ventures</h3>
  </div>
  <div class="panel-body">
    A partnership automatically arises where two or more people agree they will
    share responsibility and decision-making for a business, and proceed to do so.
    For a full explanation, please click here.

    <br><br>We have set up all types of UK partnerships and regularly prepare Partnership
    Agreements tailored to the needs of professional partnerships. These govern
    the relationship between the partners, how profits and liabilities are split
    and how the partnership will be managed and disputes resolved.

    <br><br>For an explanation of why you absolutely need a Partnership Deed if you are
    entering into a partnership, please click here. Even if you have a Partnership
    Deed things change, and you will of course need to keep the Partnership Deed updated.

    <br><br>We also regularly advise on all forms of joint ventures, from property companies
    to internet start-ups. In all cases we ensure that our client’s interests are
    protected fully, and that difficult matters such as exit provisions are fully
    provided for in the documents well in advance of any problems that may
    unfortunately arise.

    <br><br>If you are starting a company with other shareholders, you will definitely 
    need us to prepare a shareholder agreement for you, regulating your business
    relationship.
  </div>
</div>

{% endblock %}
