{% extends "index.html" %}
{% load static %}

{% block titlebar %}Staff{% endblock %}

{% block content %}

  <div class="text-center">
    <h3>Meet The Team!</h3><hr>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Partners</h3>
    </div>
    <span id="team-lead-row">
      <div class="profile-box">
        <img class="img-thumbnail float-left" id="Bob-Belcher" src="{% static 'images/bob-bobs-burgers.jpg' %}" alt="Bob from Bob's Burgers"/>
        <div>
          <h4><strong>Bob Belcher</strong></h4>
          <ul>
            <li>Head Chef, Owner</li>
            <li>Avid gardener</li>
            <li>Moustachioed dad</li>
          </ul>
        </div>
      </div>
      <div class="profile-box">
        <img class="img-thumbnail mx-auto d-block" id="Linda-Belcher" src="{% static 'images/linda-bobs-burgers.jpeg' %}" alt="Linda from Bob's Burgers" />
        <div>
          <h4><strong>Linda Belcher</strong></h4>
          <ul>
            <li>Assistant Chef, Co-Owner</li>
            <li>Sassy mother</li>
            <li>Creator of WineShoe</li>
          </ul>
        </div>
      </div>
      <div class="profile-box">
        <img class="img-thumbnail float-right" id="Teddy" src="{% static 'images/teddy-bobs-burgers.jpg' %}" alt="Teddy from Bob's Burgers" />
        <div>
          <h4><strong>Uncle Teddy</strong></h4>
          <ul>
            <li>Handyman</li>
            <li>Amateur sailor</li>
            <li>Lovable best friend</li>
          </ul>
        </div>
      </div>
    </span>
</div>

{% endblock %}
