{% extends "index.html" %}
{% load static %}


{% block titlebar %}Personal Injury{% endblock %}



{% block content %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Personal Injury Claims</h3>
    </div>
    <div class="panel-body">
      If you have been involved in an accident resulting in personal injury,
      sustained any sort of injury at no fault of your own or have been a victim
      of medical negligence and would like to make a claim or discuss your
      situation further, please contact us today on <strong>01858414295</strong>.<br><br>

      <img class="info_images" src="{% static 'images/steth.jpg' %}" alt="Stethoscope" /><br>

      <br>These are the types of claims that our Solicitors can help you with:
      <ul>
        <li><strong>Medical Negligence - </strong>Have you been injured,
          a victim of mistreatment or had your condition made worse at a Hospital or GP surgery?
        <li><strong>Accidents at work - </strong>Claims can include injury due to
          'faulty, defective or dangerous' equipment, 'Slips, Trips or Fall' accidents,
          Repetitive Strain Injuries, Fork-lift truck accidents or
          Exposure to harmful or dangerous substances in the workplace
        <li><strong>Slips and Trips - </strong>The types of claim you can make are wide ranging,
          from injury caused by raised paving stones to spillages in supermarkets and can even
          include injury caused whilst trespassing on private property
        <li><strong>Defective Products - </strong>Have you been injured or suffered
          ill health due to using a faulty or defective product? This also includes
          damage caused by inaccurate instructions or by the appropriateness of the
          product for the purpose it is advertised
        <li><strong>Road Traffic Accident - </strong>Road traffic accidents are
          extremely common and range from minor whiplash to serious injuries.
    </ul>
      We are here to help if you have been on the receiving end of an accident due to no fault of your own.
      The sooner you make your claim - the better.
    </div>
  </div>


{% endblock %}
