{% load static %}
{% load bootstrap %}

{% load halborg_tags %}

<nav id="sidebar">
  <div class="sidebar-header">
    <img src="{% static 'images/gavel-small.jpeg' %}" alt="Gavel" />
  </div>
  <ul class="nav flex-column">
        <li class="nav-item {% if page == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:home' %}">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
          </a>
        </li>
        <li class="nav-item {% if page == 'personnel' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:personnel' %}">
            <i class="fa fa-users" aria-hidden="true"></i>
            Our Staff
          </a>
        </li>


        <li class="nav-item {% if page == 'corporate' %}active{% endif %}"> <!-- Link with dropdown items -->
          <a class="nav-link" href="#corporateSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-building" aria-hidden="true"></i>
            Corporate
          </a>
          <ul class="{% if page in 'corporate'|get_dict_value:nav_dict %} collapse in {% else %} collapse {% endif %} list-unstyled" id="corporateSubmenu">

            {% with 'corporate'|get_dict_value:nav_dict as list_data %}
              {% for item in list_data %}
              <li class="{% if page == item %} active {% endif %} dropdown_option">
                <a class="nav-link" href="{% url 'halborg:'|add:item %}">
                  {{ item|humanize }}</a>
              </li>
              {% endfor %}
            {% endwith %}
          </ul>
        </li>


        <li class="nav-item {% if page == 'inheritance' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:inheritance' %}">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Inheritance Claims</a>
        </li>
        <li class="nav-item {% if page == 'personal_injury' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:personal_injury' %}">
            <i class="fa fa-ambulance" aria-hidden="true"></i>
            Personal Injury
          </a>
        </li>

        <li class="nav-item {% if page == 'negligence_claims' %}active{% endif %}"><!-- Link with dropdown items -->
          <a class="nav-link" href="#negligenceSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            Negligence Claims</a>

          <ul class="{% if page in 'negligence_claims'|get_dict_value:nav_dict %} collapse in {% else %} collapse {% endif %} list-unstyled" id="negligenceSubmenu">

            {% with 'negligence_claims'|get_dict_value:nav_dict as list_data %}
              {% for item in list_data %}
              <li class="{% if page == item %} active {% endif %} dropdown_option">
                <a class="nav-link" href="{% url 'halborg:'|add:item %}">
                  {{ item|humanize }}</a>
              </li>
              {% endfor %}
            {% endwith %}
          </ul>

        </li>

        <li class="nav-item {% if page == 'employment' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:employment' %}">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            Employment Law</a>
        </li>
        <li class="nav-item {% if page == 'contact_us' %}active{% endif %}">
          <a class="nav-link" href="{% url 'halborg:contact_us' %}">
            <i class="fa fa-at" aria-hidden="true"></i>
            Contact Us</a>
        </li>
  </ul>
</nav>
