{% extends "index.html" %}
{% load static %}

{% block titlebar %}Claims Against Solicitors{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Making a claim against your solicitor</h3>
  </div>
  <div class="panel-body">
    You should visit the following sites to read about raising a claim against
    your solicitor:
    <ul>
      <li><a href="http://www.canter-law.co.uk/professional-negligence/Claims-Against-Solicitors">
      <u>Canter Law</u></a></li>
      <li><a href="http://www.glovers.co.uk/news-articles439.html"><u>Glovers</u></a></li>
      <li><a href="https://www.wrighthassall.co.uk/negligence/solicitor-negligence-suing-solicitor/">
        <u>Wright Hassall</u></a></li>
    </ul>
  </div>
</div>

{% endblock %}
