{% extends "index.html" %}
{% load static %}

{% block titlebar %}Contact Us{% endblock %}

{% block content %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">How to contact us</h3>
  </div>
  <div class="panel-body">
    Halborg &amp; Co specialises in corporate and commercial law, and employment
     law, litigation, probate after law.<br>
     We advise clients nationwide from our offices in Leicester.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Our contact details are:</h3>
  </div>
  <div class="panel-body">

    Deals &amp; Disputes Solicitors LLP<br>

    Harborough Innovation Centre<br>
    Airfield Business Park,<br>
    Leicester Road,<br>
    Market Harborough,<br>
    Leicestershire,<br>
    LE16 7WB<br><br>
    <strong>Tel:</strong> 01858414295
  </div>
</div>

<h2>Contact Us</h2>

<h1>Success! Email sent.</h1>

{% endblock %}
