{% extends "index.html" %}
{% load static %}

{% block titlebar %}Terms &amp; Conditions of Business{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Terms and Conditions of Business</h3>
  </div>
  <div class="panel-body">
    Perhaps the greatest danger that most small to medium size UK businesses face
    is that they do not use standard terms and conditions of business.<br>
    The risk then, of course, is that almost any transaction that goes wrong
    could lead to lengthy litigation to establish on what contractual terms the
    transaction <br>took place and whether they have been satisfied.
    This can almost always be avoided by the use of standard terms and conditions.

    <br><br>Our detailed knowledge and close working relationships with clients has
    allowed us to develop standardised terms and conditions of business <br>for
    almost all types of business.   We can swiftly and economically adapt these
    for your business to ensure that you exclude liability to the fullest extent
    possible <br>and significantly lower the risks of a Court judgment against you.
  </div>

</div>

{% endblock %}
