
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

  #submit-button {
    margin-bottom: 10px;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }

  img {
    height: 100%;
    width: 100%;
  }

  h4 {
    text-align: center;
  }

  .info_images {
    height: 50%;
    width: 50%;
  }

  .wrapper {
    display: flex;
    align-items: stretch;
  }

  .img-thumbnail {
    height: 275px;
    width: 225px;
    display: block;
  }

  .profile-box {
    display: inline-block;
    padding: 10px;
    background-color: #f2f2f2;
  }

  .profile-box ul {
    list-style-type: square;
  }

  #company-name {
    float:left;
    padding-left: 10px;
  }

  #dedication {
    float: right;
    padding-right: 10px;
  }

  #footer-welcome-links a {
    display: inline-block;
    padding-right: 10px;
  }

  .footer {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  #sidebar {
    min-height: 100vh;
    background-color: #4077f7;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
  }

  #content {
    padding-left: 25px;
  }

  #sidebar .sidebar-header {
    color: #000000;
    text-align: center;
    background-color: #668ade;
    padding: 20px;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #668ade;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
  }

  #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }



  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }

  #sidebar ul ul li.active > a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #2456a5;
  }

  .nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-link {
    color: #ffffff;
    font-size: 1.1em;
  }

  .fa {
    padding-right: 5px;
  }

  #sidebar.active {
    margin-left: -250px;
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f107';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.6em;
  }

  a[aria-expanded="true"]::before {
    content: '\f106';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.6em;
  }

  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
